{% extends "base.html" %}
{% load mptt_comments_tags %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
    Tags list
{% endblock %}


{% block breadcrumb %}
<li><a href="{% url "home" %}">Home</a></li>
<li class="current">Tags</li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    <h1>Tags list</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    {% for tag in tags %}{% if tag.slug %}
    <p class="tag left"><a href="{% url "tag-single-slug" tag.slug %}"><span class="c">{{ tag.c }}</span><span class="t">{{ tag.name }}</span></a></p>
    {% endif %}{% endfor %}
  </div>
</div>
{% endblock %}

{% block foundation_plugins %}
{% endblock %}

{% block last_body %}
{% endblock last_body %}
