{% load i18n %}
{% load comments %}
{% load mptt_comments_tags %}
{% load pagination_tags %}

{% get_mptt_comment_list for object as comments root_only %}
{% if not internal_pagination %}
    {% autopaginate comments offset %}
{% endif %}
{% if comments %}
    {% get_comment_count for object as comment_count %}
    {% get_mptt_comment_toplevel_count for object as comment_toplevel_count %}
    <h2>{% trans "Comments" %} {% blocktrans %}(<span id="comment_count">{{ comment_count }}</span> comments in <span id="comment_toplevel_count">{{ comment_toplevel_count }}</span> threads){% endblocktrans %}</h2>
    {% if not internal_pagination %}
        {% paginate %}
    {% endif %}
    <div id="mptt-comments-tree" class="block-comments-tree" data-reversed="{{ reversed }}">
        {% for comment in comments %}
            {% include "comments/alternate/display_comment_toplevel.html" %}
        {% endfor %}
    </div>
    {% if not internal_pagination %}
        {% paginate %}
    {% endif %}
    {# FIXME: else, fix "remaining" to use it in alternate mode #}
{% endif %}
<h2 id="post_new_comment">{% trans "Post a new comment" %}</h2>
<div class="new_comment_form_wrapper">
{% get_mptt_comment_form for object as form %}
{% include "comments/form.html" %}
</div> 

