    {% load i18n %}
    {% load mptt_tags %}
    {% load mptt_comments_tags %}
    
    {# only use this template for level=0 comments, in alternate mode! #}

    <div class="{% include 'comments/_comment_class.html' %}"  id="c{{ comment.pk }}">
     
        <div class="comment_outer">
            {% include "comments/_comment_title.html" %}
            
            <div class="comment_content">
                
                {% include "comments/_comment_meta.html" %}
                    
                {% if comment.is_removed %}
                    {% trans "Comment removed" %}
                {% else %}
                    {{ comment.comment|linebreaks }}
                {% endif %}
                
                {% if debug %}
                    {% include "comments/_comment_debug.html" %}
                {% endif %}
                
                {% include "comments/_comment_replies.html" %}
                
                {% if comment.level == 0 %}
                    {% if comment|children_count %}
                        {% get_mptt_comment_list for object as subcomments with comment %}
                    {% endif %}
                {% endif %}
            
            </div>
        </div>

        {% if comment.level == 0 %}
            {% if comment|children_count and subcomments %}
                {% for comment, tree in subcomments|tree_info %}
                    {% include "comments/display_comment.html" %}
                {% endfor %}
                
            {% endif %}
        {% endif %}
    </div>
