{% load i18n %}
{% load mptt_comments_tags %}

{% get_mptt_comment_list for object as comments root_only %}
    
{% if comments %}

<h2>{% trans "Comments" %} (Experimental)</h2>

{% endif %}
    
<div id="mptt-comments-tree">
 
{% if comments %}

    {% for comment in comments %}
        
        {% include "comments/alternate/display_comment_toplevel.html" %}
   
    {% endfor %}
    
{% endif %}

{# FIXME pagination for toplevel comments only (either fix remaining or use something else #}

</div>
    
<h2 id="post_new_comment">{% trans "Post a new comment" %}</h2>

<div class="new_comment_form_wrapper">
{% get_mptt_comment_form for object as form %}

{% include "comments/form.html" %}
</div> 

