django>=1.5,<1.6
django-debug-toolbar==0.9.4
django-extensions==1.2.0
Fabric==1.7.0
factory-boy==2.1.2
coverage==3.6
django-nose==1.2
django-coverage==1.2.4
mock==1.0.1
watchdog==0.6.0
django-jasmine==0.4
selenium==2.35.0
django-dynamic-fixture==1.6.5
