django>=1.5,<1.6
Markdown==2.3.1
bleach==1.2.2
Pygments==1.6
South==0.8.2
pytz==2013d
PIL==1.1.7
django-crispy-forms>=1.4.0
crispy-forms-foundation>=0.2.3
django-simple-captcha>=0.4.0
django-email-obfuscator>=0.1.1
django-floppyforms>=1.1
django-mptt==0.6.0
simplejson==3.3.0
django-taggit>=0.10
django-libs==1.16
-e git://github.com/pinax/django-mailer.git@919805e25fc18b06487b25414d4e5d5e05a92108#egg=django_mailer-dev
django-storages
# DEPENDANCIES TO INSTALL MANUALLY
# pip install git+https://github.com/jhgaylor/tldrio-python-client.git
# pip install git+https://github.com/vhf/django-taggit.git
# pip install git+https://github.com/vhf/django-mptt-comments.git
