{% extends "user/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block breadcrumb %}
<li class="current">
  <a href="#">Password reset</a>
</li>
{% endblock %}

{% block title %}Password reset{% endblock %}

{% block content %}

<div class="row">
  <div class="large-12 columns">
    <h1>Password reset</h1>

    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

    <form action="" method="post">{% csrf_token %}
    {{ form.email.errors }}
    <p><label for="id_email">Email address:</label> {{ form.email }} <input type="submit" value="Reset my password" class="button primary" /></p>
    </form>

  </div>
</div>
{% endblock %}
