.comment_reply {
  text-decoration: underline;
  cursor: hand;
}

.comment_title {
  font-size: emCalc(13px);
  margin-bottom: 2px;
  padding: 3px;
}

.comment_meta {
  font-weight: bold;
}

.comment {
  margin-left: emCalc(25px);
  margin-top: emCalc(10px);
  padding-left: emCalc(5px);
  // &:first-child {
  //   margin-left: emCalc(0px);
  // }
}
.comment_level_0 {
  margin-left: emCalc(0px);
}


.comment_content {
  p:nth-last-child(2) {
    margin-bottom: emCalc(6px);
  }
}

.preview {
  border-color: #f0e6d6;
}

.preview.comment_title {
  background: #eee5d7;
}

.comment_collapsed {
  > .comment_outer {
    > .comment_content {
      display: none;
    }
  }
}

.comment_expanded {
  > .comment_outer {
    > .comment_content {
      display: block;
    }
  }
}

.comment_debug {
  font-size: 0.8em;
  border: 1px solid black;
  border-collapse: collapse;
  & td, & th {
    border: 1px solid black;
    text-align: center;
    padding: 0.3em;
  }
}
