i {
  font-style: normal;
}

.symbol {
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  margin-top: 0;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

.list-symbols {
  .symbol {
    font-size: emCalc(35px);
    color: black;
  }
  a.waiting {
    color: #bbb;
  }
  a.unchecked {
    color: black;
  }
  a.checked {
    color:#2ba6cb;
  }
}

.link-title {
  a.symbol {
    color: black;
  }
}


.listcontent {
  a.symbol {
    color: black;
    font-size: 1.5em;
  }
}
