i {
  font-style: normal;
}

.symbol {
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  margin-top: 0;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

.list-symbols {
  .symbol {
    font-size: emCalc(22px);
    color: black;
  }
  a.waiting {
    color: #bbb;
  }
  a.unchecked {
    color: black;
  }
  a.checked {
    color:#2ba6cb;
  }
}
@media only screen and (min-width: 768px) {
  .list-symbols {
    .symbol {
      font-size: emCalc(30px);
    }
  }
}

@media only screen and (min-width: 1280px) {
  .list-symbols {
    .symbol {
      font-size: emCalc(35px);
    }
  }
}

//icons black
.symbol.i-b, .lsf.i-b {
  color:black;
}

//tiny-icons
.t-i {
  font-size:15px;
}

.listcontent {
  a.symbol {
    color: black;
    font-size: 1.5em;
  }
}

.tag {
  display: block;
  margin-right: 5px;
  line-height: 1;
  margin-bottom: 0.5em;
  font-size: 14px;

  & .t {
    @include label();
  }
  & .c {
    @include label();
    background-color: #e9e9e9;
    color: #333333;
  }

}

.y-bg {
  background-color: #fff1d2 !important;
  color: #555555 !important;
}

.votes {
  @include label();
  cursor: pointer;
  margin-right: 3px;
  padding-top: 2px;
  i.lsf:after {
    content: 'check';
    font-size: 14px;
  }
  i.lsf.lsf2:after {
    content: 'checkbox';
    font-size: 14px;
  }
}

.views {
  @include label();
  margin-right: 3px;
  padding-top: 2px;
  i.lsf:after {
    font-size: 14px;
    content: 'view';
  }
}

.pointer {
  cursor: pointer;
}
