.halloform {
  .editable, #id_mdcontent {
    line-height: 20px !important;
    font-size: 14px !important;
    ol, li, p, a {
      line-height: 20px !important;
      font-size: 14px !important;
    }
  }
  .editable {
    padding-top: 8px;
  }
  #div_id_mdcontent {
    padding-right: 13px;
  }
  #id_mdcontent {
    min-height: 200px;
  }
}

.listcontent {
  p {
    font-size: 1em;
  }
}

.my-def-list {
  h4 {
    .del {
      display: none;
    }
    .link {
      display: none;
    }
  }
  h4:hover {
    .del {
      display: inline-block;
      float: right;
    }
    .link {
      display: block;
    }
  }
}
