.byline {
  font-size: rem-calc(13px);
}

@media #{$topbar-media-query} {
  .top-bar-section ul li {
    .add-button {
      padding-left: 0;
      .help-label {
        display: none;
      }
    }
  }
}

.addthis {
  margin-left: 5px;
}

.header-buttons {
  padding-top: 0.6em;
}

@media only screen and (min-width: $small-screen) {
  .header-buttons {
    padding-top: 1.4em;
  }
}

.contain-to-grid {
  background: none;
}
