.byline {
  font-size: emCalc(13px);
}


$cadetblue: #75a2aa; //nav bg
$nav-text : white;
$nav-hovered: #ff0084;
$lavender: #eff; //subnav bg
$other-blue: #9dbcc1;
$dark-grey: #999; //title
$dark-border: #f4f4f4; //bg for title
$visited-grey: #666;

nav.top-bar {
  background-color: $cadetblue;
}

.top-bar-section {
  & ul {
    & li {
      font-family: Helvetica;
      & a {
        background-color: $cadetblue;
        color: white;
        font-size: 0.8em;
        &:hover {
          color: $nav-hovered;
        }
        &:not(.button) {
          background-color: $cadetblue;
        }
      }
    }
  }
}

::-webkit-selection {
  background-color: #FFFFCC;
  color: #555555;
}
::-moz-selection {
  background-color: #FFFFCC;
  color: #555555;
}
::selection {
  background-color: #FFFFCC;
  color: #555555;
}

h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection {
  background-color: #F1C1C2;
  color: #222222;
}
h1::selection,
h2::selection,
h3::selection {
  background-color: #F1C1C2;
  color: #222222;
}

p.tag {
  display: block;
  margin-right: 5px;
  line-height: 1;
  margin-bottom: 0.5em;

  & .t {
    @include label();
  }
  & .c {
    @include label();
    background-color: #e9e9e9;
    color: #333333;
  }

}
