    {% load i18n %}
    <script type="text/javascript">
    //<![CDATA[

    var replies_loaded = []
    
    function is_in(list, item) {
        for (var i=0;i<list.length;i++) {
            if (list[i] == item) return true
        }
        return false
    }    
    
    $(document).ready(function(){

        var comment_level_re = new RegExp("comment_level_(\\d+)", "")
        var comment_pk_re = new RegExp("comment_(\\d+)", "")
        
        var posted_re = new RegExp("this_is_a_comment", "g")
        var reply_count_re = new RegExp("(\\d+)")
        
        function update_replies_count(nxt) {
            var parents = nxt.parents('.comment')
            parents.each(function() {
                var item = $("#" + this.id + " > .comment_content > .comment_reply_links > .comment_replies ")              
                var txt = item.text()
                if (txt) {
                    txt = txt.replace(reply_count_re, parseInt(reply_count_re.exec(txt)[1], 10) + 1)
                } 
                else {
                    txt = '1 {% trans "replies" %}';
                }
                item.text(txt)
            })  
        }
        
        function bind_submit(form, nxt) {
        
            var post_data = {}
            $("input[type=submit]", form).bind("mousedown", function() {
                post_data = {}
                post_data[this.name] = this.value
            })
            
            form.bind("submit", function() {
            
                var data_dict = $(":input", form).serializeArray()
                $.each(data_dict, function() {
                    post_data[this.name] = this.value
                })
                
                post_data['is_ajax'] = 1
                            
                $.post(form.attr('action'), post_data, function(data, textStatus){
                                    
                    if (posted_re.test(data)) {
                        if (nxt.hasClass('new_comment_form_wrapper')) {
                            $('#mptt-comments-tree').append(data)
                            nxt.replaceWith('<p>{% trans "Your comment was posted." %}</p>')
                        }
                        else {
                            update_replies_count(nxt)
                            nxt.replaceWith(data)
                        }
                    }
                    else {
                        nxt.empty()
                        nxt.append(data)
                        nxt.slideDown("slow")
                        
                        var new_form = $("form", nxt)
                        bind_submit(new_form, nxt)
                    }
                }, "html")
                
                return false
            })
        }
                
        $('a.comment_reply').live("click", function(e) {
            
            var parent = $(this).parent('p');
            var nxt = parent.next('.comment_form_wrapper');
            if (!nxt.length) {
                nxt = $('<div class="comment_form_wrapper"></div>').insertAfter(parent);
                nxt.hide();
            }
            else {
                nxt.slideUp("slow")
            }
            
            $.get($(this).attr('href') + '?is_ajax=1', function(data, textStatus){
                nxt.empty()
                nxt.append(data)
                nxt.slideDown("slow")
                
                var form = $("form", nxt)
                bind_submit(form, nxt)
                
            }, "html")
            
            return false
        })
        
                        
        $('a.comment_replies').live("click", function(e) {
                
            var href = $(this).attr('href')
            
            var id = 'comment_' + (new RegExp("(\\d+)/$").exec(href)[1])
            
            if (!is_in(replies_loaded, id)) {
            
                $.get($(this).attr('href') + '?is_ajax=1', {}, function(data, textStatus){
                    
                    var comments_tree = data.comments_tree

                    if (comments_tree) {  // 
                        $('#' + id).append( comments_tree.html )
                    }
                    
                    replies_loaded.push(id)
                        
                }, "json")
            }
            return false
        })
            
        $('.comment_expand').live("click", function() { 
            
            var href = $(this).attr('href')    
            var id = 'comment_' + (new RegExp("(\\d+)/$").exec(href)[1])
            
            var comment_el = $('#' + id)
            var content_el = $('.comment_content', comment_el)
                        
            if (comment_el.hasClass('comment_collapsed')) {
                comment_el.removeClass('comment_collapsed')
                comment_el.addClass('comment_expanded')
            }
            else {
                comment_el.addClass('comment_collapsed')
                comment_el.removeClass('comment_expanded')
            }
            return false
        })

        $('.comments_more').live("click", function() {
            
            $.get($(this).attr('href') + '?is_ajax=1', { }, function(data, textStatus) {
                
                var comments_for_update = data.comments_for_update;
                var tid = data.tid;
                var more = $('#comment_' + tid + ' .comments_more');
                var morep = more.parent()

                if (comments_for_update) {
                    var update_len = comments_for_update.length;
                    for (var c = 0; c < update_len; c++) {
                        var comment = comments_for_update[c]
                        if ("parent" in comment) {
                            if (comment.parent == tid && morep) {
                                morep.before(comment.html)
                            } 
                            else {
                                $('#comment_' + comment.parent).append(comment.html)
                            }
                        }
                    }
                }
                
                var comments_tree = data.comments_tree
                if (comments_tree) {
                    $('#mptt-comments-tree').append(comments_tree.html)
                }

                var remaining_count = data.remaining_count

                if (remaining_count > 0) {
                    $('#comment_' + tid + ' .comments_more_remaining').html(remaining_count)

                    if (update_len) {
                        var last_comment_pk = comments_for_update[update_len - 1].pk
                    } 
                    else {
                        var last_comment_pk = comments_tree.end_pk
                    }
                    
                    var old_href = more.attr('href')
                    more.attr('href', 
                        old_href.replace(new RegExp("\\d+/$"),
                        last_comment_pk + '/')
                    )
                }
                else {
                     morep.hide()
                }

            }, "json")
            
            return false
        })
        
        $('.new_comment_form_wrapper').each(function(){
            var nxt = $(this)
            var frm = $('form', nxt)
            bind_submit(frm, nxt) 
        })        
    })
    //]]>
    </script>
