{% load i18n %}
{% load mptt_comments_tags %}

{% get_mptt_comment_list for object as comments %}


<div class="new_comment_form_wrapper">
  {% get_mptt_comment_form for object as form %}

  {% include "comments/form.html" %}
</div>


{% if comments %}
  <h2>Comments</h2>
{% endif %}

<div id="mptt-comments-tree">
{% if comments %}
    {% include "comments/display_comments_tree.html" %}
{% endif %}
</div>

{% if comments_remaining %}
  <p>
    {% with comments|last as last_comment %}
    <a id="comments_more" href="{% url "comments-more" last_comment.pk %}">
        Read <span id="comments_more_remaining">{{ comments_remaining }}</span> more.
    </a>
    {% endwith %}
  </p>
{% endif %}
