    {% load markup %}
    {% load i18n %}
    {% load mptt_tags %}
    {% load mptt_comments_tags %}

    {% for comment, tree in comments|tree_info %}

    {% if not tree.new_level %}</div>{% endif %}

    <div class="comment comment_level_{{ comment.level }}
            {% if comment.level > collapse_levels_above %} comment_collapsed{% endif %}
            " id="comment_{{ comment.pk }}">

    <p class="comment_title"><a class="comment_expand" href="{% url "comment-detail" comment.pk %}">{{ comment.title }}</a></p>

    <div class="comment_content {% if comment.level < collapse_levels_below %} comment_collapsed_below{% endif %}">

    <p class="comment_meta">
        <span class="commented_by">{% trans "Commented by" %} {{ comment.name }}</span> -
        <span class="commented_day">{{ comment.submit_date|date:"l" }}</span>,
        <span class="commented_date">{{ comment.submit_date|date:"j F" }}</span>
        {% trans "at" %} <span class="commented_time">{{ comment.submit_date|date:"H:i" }}<span>
    </p>

    {{ comment.comment|markdown }}

     <p>
        {% if comment|children_count %}{% ifequal comment.level cutoff_level %}
            <a class="comment_replies" href="{% url "comments-subtree" comment.pk %}">
                {{ comment|children_count }} {% trans "hidden replies" %}
            </a>
        {% else %}
            {{ comment|children_count }} {% trans "replies" %}
        {% endifequal %} |{% endif %}
         <a class="comment_post_new" href="#post_new_comment">
            {% trans "Post a new comment" %}
        </a> |
        <a class="comment_reply" href="{% url "comment-reply" comment.pk %}">
            {% trans "Reply to this comment" %}
        </a>
    </p>

    </div>

   {% for level in tree.closed_levels %}

        {% if forloop.parentloop.last %}
            {# not the topmost tree, skip closing some levels #}
            {% if level > bottom_level %}</div>{% endif %}
        {% else %}
            </div>
        {% endif %}

   {% endfor %}

   {% endfor %}
