    {% load comments %}
    {% load i18n %}

{% if user.is_authenticated %}
    <form action="{% comment_form_target %}" method="POST">
        <fieldset>
            <ol>
            {% for field in form %}
                {% if not field.is_hidden %}
                <li class="{% if not field.field.required %}not{% endif %}required{% if field.errors %} errors{% endif %}{% ifequal field.name "honeypot" %} hidden{% endifequal %}">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </li>
                {% endif %}
            {% endfor %}
                {% if form.non_field_errors %}
                <li class="errors">{{ form.non_field_errors }}</li>
                {% endif %}
                <li>
                {% for field in form %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                {% if allow_post %}
                  <input type="submit" name="submit" class="submit-post" value="{% trans "Post" %}">
                {% endif %}
                  <input type="submit" name="preview" class="submit-preview" value="{% trans "Preview" %}">
                </li>
            </ol>
        </fieldset>
    </form>
{% endif %}
