{% extends "base.html" %}
{# replace with your own base template and content block #}

{% block content %}

    {% load comments %}
    {% load i18n %}
    {% load markup %}

    <h1>{% trans "Preview of your comment" %}</h1>
    

    {% if comment %}
        {{ comment|markdown }}
    {% endif %}
    
    <form action="{% comment_form_target %}" method="POST">
        <fieldset>
            <ol>
            {% for field in form %}
                {% if not field.is_hidden %}
                <li class="{% if not field.field.required %}not{% endif %}required{% if field.errors %} errors{% endif %}{% ifequal field.name "honeypot" %} hidden{% endifequal %}">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </li>
                {% endif %}
            {% endfor %}
                {% if form.non_field_errors %}
                <li class="errors">{{ form.non_field_errors }}</li>
                {% endif %}
                <li>
                {% for field in form %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                  <input type="submit" name="submit" class="submit-post" value="{% trans "Post" %}">
                  <input type="submit" name="preview" class="submit-preview" value="{% trans "Preview" %}">
                </li>
            </ol>
        </fieldset>
    </form>
{% endblock %}
