{% extends "pages/base.html" %}

{% block title %}
    About
{% endblock %}

{% block headline %}
    About
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">About</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        <h1>about reSRC</h1>
        <p>reSRC stands for <strong>resource</strong>. It came to birth because I could not find a website displaying both <strong>quality curated lists</strong> and <strong>tag-sorted links</strong>.</p>
        <p>Whenever I found an interesting article or a tutorial on subject I wanted to investigate, I ended up bookmarking it, together with curated lists laying here and there.</p>
        <p>Programmers sometimes need lists of links on a specific programming topic, be it a technology, a framework, a language, ...</p>
        <p>On <strong>reSRC</strong>, you are free to create your own lists or to pull the list you already have on GitHub or anywhere else. But most of you will probably be more interested by discovering great resources from great lists. Or by reSRC's tagged links database. Try <code>Python+TDD</code> or <code>Ruby+Book</code>. And of course, the meta-tag : <code>Haskell+resource</code></p>
        <h1>browser button</h1>
        <p>For Chrome, Chromium, Firefox, Opera, drag and drop this button to your bookmarks. For Internet Explorer, right-click the button and add to your bookmarks.</p>
        <p><a class="button" href="javascript:(function(){bf='http://b.resrc.io{% url "new-link-button" %}'+encodeURIComponent(document.title)+'/u/'+encodeURIComponent(window.location.href);ba=function(){if(!window.open(bf,'reSRC·new','location=0,links=0,scrollbars=0,toolbar=0,width=430,height=460'))location.href=bf+'/fallback'};if(/Firefox/.test(navigator.userAgent)){setTimeout(ba,0)}else{ba()}})()">Add reSRC</a></p>
    </div>
</div>

{% endblock %}
