{% extends "lists/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
Delete {{ list.title }}
{% endblock %}


{% block breadcrumb %}
<li><a href="{% url "home" %}">Home</a></li>
<li><a href="{% url "lists" %}">Lists</a></li>
<li class="current">Delete {{ list.title }}</li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    <h1><i class="lsf symbol">close</i> Are you sure ?</h1>
    <p>You are about to delete <strong><a href="{{ list.get_absolute_url }}">{{ list.title }}</a></strong>.</p>
    <p>Your list has been appreciated <span class="votes lsf">{{ count }}</span> times and viewed <span class="views lsf">{{ list.views }}</span> times.</p>
    <a href="{% url "user-lists" usr.username %}" class="large button">Take me back</a> &nbsp;
    <a href="{% url "list-delete-confirmed" list.pk %}" class="large button alert">I'm sure.</a>
  </div>
</div>
{% endblock %}


{% block last_body %}
{% endblock last_body %}
