{% extends "lists/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
Edit {{ list.title }}
{% endblock %}


{% block breadcrumb %}
<li><a href="{% url "home" %}">Home</a></li>
<li><a href="{% url "lists" %}">Lists</a></li>
<li class="current">Edit {{ list.title }}</li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    {% crispy form %}
  </div>
</div>
{% endblock %}


{% block last_body %}
<script type="text/javascript">
  var delay = (function() {
    var timer = 0;
    return function(callback, ms) {
      clearTimeout (timer);
      timer = setTimeout(callback, ms);
    };
  })();

  $('#id_url').keyup(function() {
    delay(function() {
      if($('#id_url').val().length > 0) {
        $('#div_id_mdcontent').hide();
      } else {
        $('#div_id_mdcontent').show();
      }
    }, 100);
  });
</script>
{% endblock last_body %}
