{% extends "lists/base.html" %}
{% load profile %}
{% load mptt_comments_tags %}

{% block title %}
    {{ list.title }}
{% endblock %}


{% block breadcrumb %}
<li><a href="{% url "home" %}">Home</a></li>
<li><a href="{% url "lists" %}">Lists</a></li>{# TODO : Add real URLs here #}
<li class="current">My lists</li>
{% endblock %}

{% block content %}


<div class="row">
  <div class="large-12 columns">
    <h1>{{ username }}'s lists</h1>
    {% for list in lists %}
    <div class="panel">
          <h5>
            <span class="label round">{{ list.c }}</span> <a href="{% url "list-single-slug" list.pk list.slug %}">{{ list.title }}</a> {% if owner %}
            <span class="right">
              <a href="{% url "list-edit" list.pk %}" class="lsf i-b">pencil</a>&nbsp;
              <a href="#" class="lsf i-b">trash</a>{#TODO : add delete link here#}
            </span>{% endif %}
          </h5>
          <p>
            {{ list.description }}
          </p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}


{% block last_body %}
{% endblock last_body %}
