{% extends "links/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block meta %}
<script type="text/javascript">var jq = true;</script>
{% endblock %}

{% block title %}
  lala
{% endblock %}

{% block extracss %}
{% endblock %}

{% block headline %}
  lolo
{% endblock %}

{% block breadcrumb %}
  <li class="current"><a href="#">Index</a></li>
{% endblock %}

{% block content %}
  {% crispy form %}
{% endblock %}


{% block last_body %}

<script type="text/javascript" src="{% static "js/markdown/jquery-ui-1.10.0.custom.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/markdown/rangy-core-1.2.3.js" %}"></script>
<script type="text/javascript" src="{% static "js/markdown/hallo.js" %}"></script>
<script src="{% static "js/markdown/showdown.js" %}"></script>
<script src="{% static "js/markdown/to-markdown.js" %}"></script>
<script src="{% static "js/markdown/editor.js" %}"></script>

{% endblock last_body %}
