{% extends "lists/base.html" %}
{% load profile %}
{% load mptt_comments_tags %}

{% block title %}
    {{ list.title }}
{% endblock %}

{% block headline %}
    lolo
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Index</a></li>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="small-12 columns">
        <p>
          <ul class="inline-list">
            {% for tag, count in tags %}
            <li><a href="#" class="radius secondary label">{{ tag }} ({{ count }})</a></li>
            {% endfor %}
          </ul>
        </p>
    </div>
  </div>

<div class="row">
  <div class="large-12 columns">
    <h3><a href="{{ list.url }}">{{ list.title }}</a></h3>
    <p>{{ list.description }}</p>
    <p class="byline">
      {% with author=list.owner %}
      by <a href="{% url "user-url" author.username %}">{{ author.username }}</a> | {{ list.pubdate|timesince }} ago
      {%endwith%}
    </p>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    {% if list.title in default_lists %}
    <p>
    {% with links=list.links.all %}
      {% for link in links %}
      <hr />
      <h4>{{ forloop.counter }}. <a href="{{ link.url }}">{{ link.title }}</a></h4>
      <p class="byline">
        <a href="{{ link.get_absolute_url }}">{{ link.get_comment_count }} comments</a> | {{ link.pubdate|timesince }} ago
      </p>
      {% endfor %}
    {% endwith %}
    </p>
    {% else %}
    <div class="listcontent">
    {{ list.html_content|safe }}
    </div>
    {% endif %}
  </div>
</div>

{% if list.title not in default_lists %}
<div class="row">
  <div class="large-12 columns">
    {% display_comment_toplevel_for list %}
  </div>
</div>
{% endif %}
{% endblock %}


{% block last_body %}
<script type="text/javascript">
$('.listcontent').find('a').each(function(index, item) {
  $item = $(item);
  if($item.text() === 'link') {
    $item.addClass('lsf symbol');
  }
});
</script>
{% endblock last_body %}
