{% extends "pages/base.html" %}
{% block extrahead %}
<style>
.c301 {
  background-color: #5EC7FF;
}
.c302 {
  background-color: #08A8FF;
}
.c403 {
  background-color: #FC9551;
}
.c404 {
  background-color: #FF6600;
}
.c500 {
  background-color: #CFFA32;
}
</style>
{% endblock %}

{% block content %}

<div class="row">
  <div class="medium-10 columns" id="lines">
  </div>
  <div class="medium-2 columns" id="codes">
  </div>
</div>

<div class="row" style="margin-top: 20px;">
  <div class="large-12 columns">
    <button id="load">LOAD MORE</button>
    <button id="clear">CLEAR</button>
  </div>
</div>

{% endblock %}

{% block last_body %}
<script>
var from = 0;
var to = 50;
var delta = 50;

function load(from, to) {
  $.ajax({
    type:"GET",
    url:"/link/dead/"+from+"/"+to,
    dataType: "json"
  }).done(function(data) {
    console.log(data);
    console.log(data.length);
    display(data);
  });
}

function display(links) {
  for (var i = 0; i < links.length; i++) {
    var link = links[i];
    $('#lines').append('<div><a href="'+link.url+'">###</a> <a href="/a/link/link/'+link.id+'">'+link.title+'</a></div>')
    $('#codes').append('<div class="c'+link.code+'">'+link.code+'</div>');
  }
}

$('#load').on('click', function(){
  from += delta;
  to += delta;
  load(from, to);
});

$('#clear').on('click', function(){
  $('#lines').html('');
  $('#codes').html('');
});


load(from, to);

</script>
{% endblock %}
