{% extends "links/base.html" %}
{% load profile %}
{% load mptt_comments_tags %}

{% block title %}
Links summary
{% endblock %}


{% block breadcrumb %}
<li><a href="{% url "home" %}">Home</a></li>
<li><a href="{% url "links" %}">Links</a></li>
<li class="current">Summary</li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    <h1>Links</h1>
  </div>
</div>
<div class="row">
  <div class="medium-6 large-6 columns">
    <h3>latest</h3>
    <ul class="no-bullet">
      {% for link in latest %}
      <li{% if forloop.counter > 10 %} class="hide-for-small"{% endif %}><i class="lsf i-b">link</i><span class="votes lsf" data-id="{{link.link__pk}}">{{ link.count }}</span><a href="{% url "link-single-slug" link.link__pk link.link__slug %}">{{ link.link__title }}</a><hr></li>
      {% endfor %}
    </ul>
  </div>
  <div class="medium-6 large-6 columns">
    <div>
      <h3>hottest</h3>
      <ul class="no-bullet">
        {% for link in hottest %}
        <li{% if forloop.counter > 5 %} class="hide-for-small"{% endif %}><i class="lsf i-b">link</i><span class="votes lsf" data-id="{{link.link__pk}}">{{ link.count }}</span><a href="{% url "link-single-slug" link.link__pk link.link__slug %}">{{ link.link__title }}</a></li>
        <hr>
        {% endfor %}
      </ul>
    </div>
    <div>
      <h3>most appreciated</h3>
      <ul class="no-bullet">
        {% for link in most_voted %}
        <li{% if forloop.counter > 5 %} class="hide-for-small"{% endif %}><i class="lsf i-b">link</i><span class="votes lsf" data-id="{{link.link__pk}}">{{ link.count }}</span><a href="{% url "link-single-slug" link.link__pk link.link__slug %}">{{ link.link__title }}</a></li>
        <hr>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>


<div class="row">
  <div class="large-12 columns panel hide-for-small">
    <h6>legend</h6>
    <ul class="no-bullet inline-list">
      <li><a href="#"><i class="lsf i-b">link</i> I'm a link</a></li>
      <li><a href="#"><i class="lsf i-b">link</i> <span class="votes lsf" data-tooltip title="Click to upvote">17</span>I'm a link with 17 votes</a></li>
    </ul>

    <p><strong>hottest</strong> are the most upvoted links lately</p>
    <p><strong>most appreciated</strong> are the most upvoted links all time</p>
  </div>
</div>
{% endblock %}


{% block last_body %}
<script>
  $('.votes').click(function() {
    var button = $(this);
    var url = '/link/'+$(button).attr('data-id')+'/upvote';
    $.ajax({
      type:"POST",
      url: url,
      data: 'csrfmiddlewaretoken={{csrf_token}}',
      error: function(xhr) {
        result = $.parseJSON(xhr.response).result;
        if (result == 'success') {
          $(button).html(parseInt($(button).html(), 10)+1);
        }
      }
    });
  });
</script>
{% endblock last_body %}
