{% extends "links/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block meta %}
<script type="text/javascript">var jq = true;</script>
{% endblock %}

{% block title %}
  lala
{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static "js/jquery-ui/theme/jquery-ui.css" %}" />
  <link href="{% static "js/tagit/theme/jquery.tagit.css" %}" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block breadcrumb %}
  <li class="current"><a href="#">Index</a></li>
{% endblock %}

{% block content %}
  {% crispy form %}
{% endblock %}


{% block last_body %}
<script type="text/javascript" src="{% static "js/jquery-ui/jquery-ui.min.js" %}" ></script>
<script type="text/javascript" src="{% static "js/tagit/tag-it.min.js" %}" ></script>
<script type="text/javascript">
  $(function(){
      $("#id_tags").tagit({
        availableTags: [{{ tags|safe }}],
        autocomplete: {delay: 0, minLength: 2}
    });
  });
</script>
{% endblock last_body %}
