{% extends "links/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
{% if edit %}Edit link{% else %}New link{% endif %}
{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static "js/jquery-ui/theme/jquery-ui.css" %}" />
  <link href="{% static "js/tagit/theme/jquery.tagit.css" %}" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block breadcrumb %}
<li><a href="{% url "home" %}">Home</a></li>
<li><a href="#">Links</a></li>{# TODO : Add real URLs here #}
<li class="current">{% if edit %}Edit link{% else %}New link{% endif %}</li>
{% endblock %}

{% block content %}
  {% crispy form %}
{% endblock %}


{% block last_body %}
<script type="text/javascript" src="{% static "js/jquery-ui/jquery-ui.min.js" %}" ></script>
<script type="text/javascript" src="{% static "js/tagit/tag-it.min.js" %}" ></script>
<script type="text/javascript">
  $(function(){
    $('#id_tags').tagit({
      availableTags: [{{ tags|safe }}],
      autocomplete: {
        delay: 0,
        minLength: 2
      }
    });

    $('#id_tags').on('change', function() {
      $('#suggest').html('');
      $.ajax({
        type:"GET",
        url: '/tag/related/'+$(this).val(),
        success: function(result) {
          result = $.parseJSON(result);
          for(var i = 0; i < result.length; i++) {
            tag = result[i]
            $('#suggest').append('<li><a id="ui-id-'+tag.pk+'"class="suggest_add" tabindex="-1" data-tag="'+tag.tag+'">'+tag.tag+' ('+tag.count+')'+'</a></li>')

            $('.suggest_add').on('click', function() {
              var $tag = $(this).attr('data-tag');
              console.log($tag);
              $('#id_tags').tagit("createTag", $tag);
            });
          }
        }
      });
    });
  });
</script>
{% endblock last_body %}
