{% extends "links/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
{% if edit %}Edit a link{% else %}Add a link{% endif %}
{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static "js-custom-themes/jquery-ui/theme/jquery-ui.css" %}" />
  <link href="{% static "bower_components/tag-it/css/jquery.tagit.css" %}" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block breadcrumb %}
<li><a href="{% url "home" %}">Home</a></li>
<li><a href="{% url "links" %}">Links</a></li>
<li class="current">{% if edit %}Edit a link{% else %}Add a link{% endif %}</li>
{% endblock %}

{% block content %}
  {% crispy form %}
{% endblock %}


{% block last_body %}
<script type="text/javascript" src="{% static "bower_components/jquery-ui/ui/minified/jquery-ui.min.js" %}" ></script>
<script type="text/javascript" src="{% static "bower_components/tag-it/js/tag-it.min.js" %}" ></script>
<script type="text/javascript">
  $(function(){
    $('#id_tags').tagit({
      availableTags: [{{ tags|safe }}],
      autocomplete: {
        delay: 0,
        minLength: 2
      },
      allowSpaces: true
    });

    $('#id_tags').on('change', function() {
      $('#suggest').html('');
      $.ajax({
        type:"GET",
        url: '/tag/related/'+$(this).val(),
        success: function(result) {
          result = $.parseJSON(result);
          for(var i = 0; i < result.length; i++) {
            tag = result[i]
            $('#suggest').append('<li><a id="ui-id-'+tag.pk+'"class="suggest_add" tabindex="-1" data-tag="'+tag.tag+'">'+tag.tag+' ('+tag.count+')'+'</a></li>')

            $('.suggest_add').on('click', function() {
              var $tag = $(this).attr('data-tag');
              console.log($tag);
              $('#id_tags').tagit("createTag", $tag);
            });
          }
        }
      });
    });
  });
</script>
<script src="//algorithmia.com/assets/javascripts/algorithmia.min.js" type="text/javascript"></script>
<script>
var api_key = "a7c2474b72434761b0e9ff6f9332da3f";
{% if edit %}
var input = "{{ url }}";
Algorithmia.query("/tags/AutoTagURL", api_key, input, function(err, result) {
  if(err) return console.log("error: " + err);
  $('#div_id_tags').after('<div id="algo"><a href="http://algorithmia.com">Algorithmia</a> powered suggestions : </div>')
  sug = [];
  for(res in result) {
    sug.push(res);
  }
  $('#algo').append(sug.join(', ')).append('.');
});
{% else %}
$('#id_url').on('keyup', function() {
  Algorithmia.query("/tags/AutoTagURL", api_key, $(this).val(), function(err, result) {
    if(err) return console.log("error: " + err);
    $('#div_id_tags').after('<div id="algo"></div>')
    sug = [];
    for(res in result) {
      sug.push(res);
    }
    $('#algo').html('');
    $('#algo').append('<a href="http://algorithmia.com">Algorithmia</a> powered suggestions : ').append(sug.join(', ')).append('.');
  });
})
{% endif %}

</script>
{% endblock last_body %}
