{% extends "links/base.html" %}
{% load mptt_comments_tags %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
{{ link.title }}
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Index</a></li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="small-9 columns">
      {% with tags=link.tags.all %}
      <div>
        <p class="tag">{% if link.level %}{{ link.level }}{% endif %} {{ link.get_lang }}</p>
      </div>
      <div>
        {% for tag in tags %}{% if tag.slug %}
        <p class="tag left"><a href="{% url "tag-single-slug" tag.slug %}"><span class="t">{{ tag.name }}</span></a></p>
        {% endif %}{% endfor %}
      </div>
      {% endwith %}
    </div>
    <div class="small-3 columns text-right list-symbols">
        <a class="lsf symbol{% if 'Bookmarks' in titles %} checked{%endif%} has-tip" id="bookmark" data-tooltip title="Add to bookmarks list">addstar</a>
        <a class="lsf symbol{% if 'Reading list' in titles %} checked{%endif%} has-tip" id="toread" data-tooltip title="Add to reading list">save</a>
        <a class="lsf symbol has-tip"{% if request.user.is_authenticated %} href="{% url "ajax-own-lists" link.pk %}" data-reveal-id="add-to-list" data-reveal-ajax="true"{% endif %} data-tooltip title="Add to a (new) list">list</a>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns ">
      <h3 class="link-title"><a class="lsf symbol i-b" href="{{ link.get_absolute_url }}" title="Link to the current page">link</a> <a href="{{ link.url }}">{{ link.title }}</a></h3>
      <p class="byline">
        {% with author=link.author %}
        by <a href="{% url "user-url" author.username %}">{{ author.username }}</a> | {{ link.pubdate|timesince }} ago{% if author = request.user %} | <a href="{% url "link-edit" link_pk=link.pk %}">edit</a>{% endif %}
        {%endwith%}
      </p>
    </div>
  </div>


<div class="row">
  <div class="large-12 columns">
    {% display_comment_toplevel_for link %}
  </div>
</div>

{% if lists %}
<div class="row">
  <div class="large-6 columns">
    <h4 class="subheader">as seen in</h4>
    <ul>
    {% for list in lists %}
      <li><a href="{{ list.get_absolute_url }}">{{ list.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
  <div class="large-6 columns">
    <h4 class="subheader">similar links</h4>
    <ul>
    {% for similar in similars %}
      <li><a href="{{ similar.get_absolute_url }}">{{ similar.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

{% endblock %}

{% block foundation_plugins %}
<script src="{% static "js/foundation/foundation.tooltips.js" %}"></script>
<script src="{% static "js/foundation/foundation.reveal.js" %}"></script>
{% endblock %}

{% block last_body %}
  {% mptt_comments_media_js %}
  {% if request.user.is_authenticated %}
  <div id="add-to-list" class="small reveal-modal"></div>

  <div id="create-list" class="small reveal-modal">
    <span id="create-list-message" class="label" style="display:none"></span>
    {% crispy newlistform %}
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <script type="text/javascript">
  function add_to_default_list(list) {
    var icon = $("#"+list);
    if (icon.hasClass('waiting')) {
      return null;
    }
    icon.addClass('waiting');
    $.ajax({
      type:"POST",
      url:"{% url "ajax-add-to-list-or-create" %}",
      data: 'csrfmiddlewaretoken={{csrf_token}}&lk={{ link.pk }}&t='+list,
      error: function(xhr) {
        console.log(xhr.response);
        result = $.parseJSON(xhr.response).result;
        if (result == 'added') {
          icon.removeClass('waiting unchecked');
          icon.addClass('checked');
        } else {
          icon.removeClass('waiting checked');
          icon.addClass('unchecked');
        }
      }
    });
  }
  $('#bookmark').click(function() {
    add_to_default_list('bookmark');
  });
  $('#toread').click(function() {
    add_to_default_list('toread');
  });

  $('#createlist').click(function() {
    form = $('#createlistform');
    message = $('#create-list-message');
    submit = $('#createlist');
    titlefield = $('#id_title');
    submit.prop('disable', true);
    $.ajax({
      type:"POST",
      url: form.attr('action'),
      data: form.serialize(),
      error: function(xhr) {
        console.log(xhr.response);
        result = $.parseJSON(xhr.response).result;
        if (result == 'success') {
          titlefield.removeClass('error');
          message.text('Success !');
          message.removeClass('alert').addClass('success');
          submit.prop('disable', false);
          submit.text('Create another list');
          $('#createclose').show();
        } else if(result == 'invalid') {
          message.text('Please give your list a title.');
          titlefield.addClass('error');
          message.removeClass('success').addClass('alert');
          submit.prop('disable', false);
        } else {
          message.text('Error.');
          message.removeClass('success').addClass('alert');
          submit.prop('disable', false);
        }
        message.show();
      }
    });
  });
  $("#createclose").click(function() {
    $(this).foundation('reveal', 'close');
  });
  $(document).foundation('tooltip', {"disable-for-touch": true});
  </script>
  {% endif %}
{% endblock last_body %}
