{% extends "links/base.html" %}
{% load mptt_comments_tags %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
    lala
{% endblock %}

{% block headline %}
    lolo
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Index</a></li>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="small-9 columns">
        <p>
          <ul class="inline-list">
            <li><a href="#" class="radius secondary label">Tag 1</a></li>
            <li><a href="#" class="radius secondary label">Tag 2</a></li>
            <li><a href="#" class="radius secondary label">Tag 3</a></li>
            <li><a href="#" class="radius secondary label">Tag 4</a></li>
            <li><a href="#" class="radius secondary label">Tag 5</a></li>
          </ul>
        </p>
    </div>
    <div class="small-3 columns text-right big-black-ic"><!-- FIXME: this is ugly. Need classes instead of inline styles. -->
        <a class="lsf symbol" id="bookmark" style="color:{% if 'Bookmarks' in titles %}#2ba6cb{%else%}black{%endif%}">addstar</a>
        <a class="lsf symbol" id="toread" style="color:{% if 'Reading list' in titles %}#2ba6cb{%else%}black{%endif%}">save</a>
        <a class="lsf symbol" href="{% url "ajax-own-lists" link.pk %}" data-reveal-id="add-to-list" data-reveal-ajax="true">list</a>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <h3><a href="{{ link.url }}">{{ link.title }}</a></h3>
      <p class="byline">
        {% with author=link.author %}
        by <a href="{% url "user-url" author.username %}">{{ author.username }}</a> | {{ link.pubdate|timesince }} ago
        {%endwith%}
      </p>
    </div>
  </div>


<div class="row">
  <div class="large-12 columns">
    <p>
    {% display_comment_toplevel_for link %}
    </p>
  </div>
</div>

{% endblock %}


{% block last_body %}
  {% if user.is_authenticated %}

  {% mptt_comments_media_js %}
  <div id="add-to-list" class="small reveal-modal"></div>

  <div id="create-list" class="small reveal-modal">
    <span id="create-list-message" class="label" style="display:none"></span>
    {% crispy newlistform %}
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <script>
  function add_to_default_list(list) {
    $("#"+list).css('color', '#bbb');
    $.ajax({
      type:"POST",
      url:"{% url "ajax_add_to_default_list" %}",
      data: 'csrfmiddlewaretoken={{csrf_token}}&lk={{ link.pk }}&t='+list,
      error: function(xhr) {
        result = $.parseJSON(xhr.response).result;
        if (result == 'added') {
          $("#"+list).css('color', '#2ba6cb');
        } else {
          $("#"+list).css('color', 'black');
        }
      }
    });
  }
  $('#bookmark').click(function() {
    add_to_default_list('bookmark');
  });
  $('#toread').click(function() {
    add_to_default_list('toread');
  });

  $('#createlist').click(function() {
    form = $('#createlistform');
    message = $('#create-list-message');
    submit = $('#createlist');
    titlefield = $('#id_title');
    submit.prop('disable', true);
    $.ajax({
      type:"POST",
      url: form.attr('action'),
      data: form.serialize(),
      error: function(xhr) {
        result = $.parseJSON(xhr.response).result;
        if (result == 'success') {
          titlefield.removeClass('error');
          message.text('Success !');
          message.removeClass('alert').addClass('success');
          submit.prop('disable', false);
          submit.text('Create another list');
          $('#createclose').show();
        } else if(result == 'invalid') {
          message.text('Please give your list a title.');
          titlefield.addClass('error');
          message.removeClass('success').addClass('alert');
          submit.prop('disable', false);
        } else {
          message.text('Error.');
          message.removeClass('success').addClass('alert');
          submit.prop('disable', false);
        }
        message.show();
      }
    });
  });
  $("#createclose").click(function() {
    $(this).foundation('reveal', 'close');
  });
  </script>
  {% endif %}
{% endblock last_body %}
