
.selectize-input {
  padding: 1px 8px 1px 8px;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
  font-size: 14px;
}

.selectize-control.multi .selectize-input > div {
  font-weight: bold;
  line-height: 1;
  white-space: nowrap;
  padding: 0.1875em 0.625em 0.25em;
  font-size: 0.875em;
  background-color: #2ba6cb;
  color: white;
}
