{% load staticfiles %}
{% load gravatar %}
{% load feedback_tags %}
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %}{% block title_base %}{% endblock %} &#183; resrc</title>
  {% block meta %}{% endblock %}
  <link rel="stylesheet" href="{% static "css/app.css" %}">
  <link rel="stylesheet" href="{% static "css/ligaturesymbols.css" %}">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
  {% block extrahead %}{% endblock %}
  <script src="{% static "js/vendor/custom.modernizr.js" %}"></script>
  <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}">
</head>
<body>
  <!-- Header and Nav -->
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">resrc</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>nav</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="left">
        <li {% block menu_home %}{% endblock %}>
          <a href="{% url "page-home" %}">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li class="has-dropdown">
          <a href="#">
            Lists
          </a>
          <ul class="dropdown">
            <li><a href="{% url "user-lists" user.username %}">My lists</a></li>
            <li><a href="{% url "new-list" %}">New list</a></li>
          </ul>
        </li>
        {% endif %}
        <li>
          <a id="feedbackSnippet" href="{% url "feedback" %}" data-reveal-id="feedback-modal">Bugs / Feedback</a>
        </li>
      </ul>

      <ul class="right">
        {% if user.is_authenticated %}
        <li class="has-dropdown">
          <a href="#">
            {% gravatar user.email 24 %}
            {{ user.username }}
          </a>
          <ul class="dropdown">
            <li><a href="{% url "user-url" user.username %}">Profil</a></li>
            <li><a href="{% url "user-settings" %}">Settings</a></li>
            <li><a href="{% url "user-logout" %}">Logout</a></li>
          </ul>
        </li>
        {% else %}
        <li>
          <a href="{% url "user-register" %}">Register</a>
        </li>
        <li>
          <a href="{% url "user-login" %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </section>
  </nav>
  <!-- End Header and Nav -->

<div class="row">
  <div class="large-12 columns">
    <ul class="breadcrumbs">
      {% block breadcrumb %}<li class="current"><a href="{% url "page-home" %}">Home</a></li>{% endblock %}
    </ul>
  </div>
</div>

  <!-- content -->
  {% block content %}{% endblock %}

  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-5 columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-7 columns">
          <ul class="inline-list right">
            <li><a href="{% url "page-home" %}">home</a></li>
            <li><a href="{% url "page-about" %}">about</a></li>
            <li><a href="{% url "page-faq" %}">faq</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  {% if user.is_authenticated %}
  {% feedback request.path request.user %}
  {% else %}
  {% feedback request.path None %}
  {% endif %}
  <script type="text/javascript" src="{% static "feedback/js/feedback.js" %}"></script>

  <!-- Included JS Files (Uncompressed) -->
  <script>
  if (typeof jq == "undefined") {
    var jq = false;
  }
  document.write('<script src=' +
    ((!jq && '__proto__' in {}) ? '{% static "js/vendor/zepto.js" %}' : '{% static "js/vendor/jquery.js" %}') +
    '><\/script>');
  </script>
  <script src="{% static "js/foundation/foundation.js" %}"></script>
  <script src="{% static "js/foundation/foundation.topbar.js" %}"></script>
  {% block foundation_plugins %}
  <script src="{% static "js/foundation/foundation.abide.js" %}"></script>
  <script src="{% static "js/foundation/foundation.alerts.js" %}"></script>
  <script src="{% static "js/foundation/foundation.clearing.js" %}"></script>
  <script src="{% static "js/foundation/foundation.cookie.js" %}"></script>
  <script src="{% static "js/foundation/foundation.dropdown.js" %}"></script>
  <script src="{% static "js/foundation/foundation.forms.js" %}"></script>
  <script src="{% static "js/foundation/foundation.joyride.js" %}"></script>
  <script src="{% static "js/foundation/foundation.reveal.js" %}"></script>
  <script src="{% static "js/foundation/foundation.section.js" %}"></script>
  <script src="{% static "js/foundation/foundation.tooltips.js" %}"></script>
  {% endblock %}
  <script>
  $(document).foundation();
  </script>

  {# Google Analytics #}
  {% if GOOGLE_ANALYTICS_KEY %}
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_KEY }}']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
  {% endif %}
  {% block last_body %}{% endblock %}
</body>
</html>
