<p class="comment_title">
  <a class="comment_expand lsf symbol" href="{% url "comment-detail" comment_id %}">down</a>
  <a href="{% url "user-url" comment.name %}">{{ comment.name }}</a>
  |
  {{ comment.submit_date|timesince }} ago
  |
  <a href="{% url "comment-detail" comment_id %}">link</a>
  |

  <a class="comment_flag" href="{% url "comments-flag" comment.pk %}">
      flag
  </a>

  {% if debug %}{% include "comments/_comment_debug.html" %}{% endif %}

  {% if comment.is_removed %}
    Comment removed
  {% endif %}
  {% if preview %}
    (PREVIEW)
  {% endif %}

</p>
