{% load mptt_comments_tags %}
{% if comment.pk %}
    <p class="comment_reply_links" id="c-reply-counts-c{{ comment.pk }}">
        {% if comment|children_count %}
            {% if comment.level == cutoff_level %}
                <a class="comment_replies comment_cutoff" data-commentscount="{{ comment|children_count }}" href="{% url "comments-subtree" comment.pk %}">(load {% with comment|children_count as count %}{{ count }} more{% endwith %})</a>
            {% else %}
                <span class="comment_replies" data-commentscount="{{ comment|children_count }}">{% with count=comment|children_count %}{{ count }} repl{{ count|pluralize:"y,ies" }}{% endwith %}</span>
            {% endif %}
        {% else %}
            <span class="comment_replies" data-commentscount="0"></span>
        {% endif %}
        {% if not comment.is_removed and user.is_authenticated %}
            <a class="comment_reply" href="{% url "comment-reply" comment.pk %}">
                reply
            </a>
        {% endif %}
    </p>
{% endif %}
