<span class="right">
  <small>
    <a href="#" data-dropdown="drop-debug-{{ comment.id }}" style="color: black">DEBUG</a>
  </small>
  <div id="drop-debug-{{ comment.id }}" class="f-dropdown" data-dropdown-content style="left: 25% !important;">
    <table class="comment_debug">
      <tr>
        <th> id </th>
        <th> parent_id </th>
        <th> tree_id </th>
        <th> lft </th>
        <th> rght </th>
        <th> level </th>
        <th> tree.new_level </th>
        <th> tree.closed_levels </th>
      </tr>
      <tr>
        <td> {{ comment.id }} </th>
        <td> {{ comment.parent_id }} </td>
        <td> {{ comment.tree_id }} </td>
        <td> {{ comment.lft }} </td>
        <td> {{ comment.rght }} </td>
        <td> {{ comment.level }} </td>
        <td> {{ tree.new_level }} </td>
        <td> {{ tree.closed_levels }} </td>
      </tr>
    </table>
  </div>
</span>
