{% load i18n %}
{% load mptt_comments_tags %}

{% if user.is_authenticated %}
  <div class="new_comment_form_wrapper">
    {% get_mptt_comment_form for object as form %}

    {% include "comments/form.html" %}
  </div>
{% endif %}

{% get_mptt_comment_list for object as comments %}

{% if comments %}

{% endif %}

<div id="mptt-comments-tree" class="block-comments-tree">

{% if comments %}
  {% include "comments/display_comments_tree.html" %}
{% endif %}

</div>

{% include "comments/_comments_remaining.html" %}
