{% load comments %}
<div class="comment_form">
  <form action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
      <ul class="no-bullet">
      {% for field in form %}
        {% if not field.is_hidden %}
        <li class="{% if not field.field.required %}not{% endif %}required{% if field.errors %} errors{% endif %}{% if field.name == 'honeypot' %} hide{% endif %}">
          {{ field }}
          {{ field.errors }}
        </li>
        {% endif %}
      {% endfor %}
      {% if form.non_field_errors %}
        <li class="errors">{{ form.non_field_errors }}</li>
      {% endif %}
      <li>
        {% for field in form %}
          {% if field.is_hidden %}
            {{ field }}
          {% endif %}
        {% endfor %}
        {% if allow_post %}
          <input type="submit" name="submit" class="small button" value="Post" />
        {% endif %}
          <input type="submit" name="preview" class="small secondary button" value="Preview" />
      </li>
      </ul>
      <input type="hidden" name="next" value="{% url "resrc.link.views.single" form.target_object.pk %}" />
  </form>
</div>
