{% extends "user/base.html" %}
{% load staticfiles %}

{% block title %}
  Users
{% endblock %}

{% block breadcrumb %}
<li><a href="{% url "home" %}">Home</a></li>
<li class="current"><a href="{% url "user-list" %}">Users</a></li>
{% endblock %}

{% block content %}

<div class="row">
  <div class="large-12 columns">
    <h3>{{ users|length }} users</h3>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div  class="js-masonry" data-masonry-options='{ "itemSelector": ".user", "gutter": 20 }'>
      {% for u in users %}
        {% include "user/user_item_common.part.html" %}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}

{% block last_body %}
<script src="{% static "js/masonry.min.js" %}"></script>
{% endblock %}
