{% extends "user/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}
Login
{% endblock %}

{% block headline %}
Log in
{% endblock %}

{% block breadcrumb %}
<li class="current">
  <a href="#">Login</a>
</li>
{% endblock %}

{% block content %}

<div class="row">
  <div class="large-12 columns">
    {% if not user.is_authenticated %}
    <div class="section-container auto" data-section>
        <div class="content" data-section-content>
          <div class="row">
            {% if login_error %}
            <div class="alert-box alert">
              {{ login_error }}.
            </div>
            {% endif %}
            <div class="large-7 columns large-centered">
                {% crispy login_form %}
            </div>
          </div>
        </div>
    </div>
    {% else %}
    <p>
      You're already connected.
    </p>
    {% endif %}
  </div>
</div>

{% endblock %}
