{% extends "user/base.html" %}
{% load emarkdown %}
{% load markup %}
{% load email_obfuscator %}
{% load gravatar %}

{% block title %}
  {{ usr.username }}
{% endblock %}

{% block headline %}
  {{ usr.username }}
{% endblock %}

{% block breadcrumb %}
<li><a href="{% url "home" %}">Home</a></li>
<li><a href="{% url "user-list" %}">Users</a></li>
<li class="current">{{ usr.username }}</li>
{% endblock %}

{% block headline-actions %}
  {% ifequal profile.user user %}
    <a href="{% url "user-settings" %}" class="button">
      Settings
    </a>
  {% endifequal %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="large-12 columns">
    <h2>{{ usr.username }}</h2>
  </div>
</div>

<div class="row">
  <div class="large-2 columns">
    <span class="hide-for-small">
      {% gravatar usr.email %}
    </span>
  </div>
  <div class="large-10 columns">
    <p>
      joined : {{ usr.date_joined|timesince }} ago
      <br />
      last seen : {{ usr.last_login|timesince }} ago.
    </p>
    <p>
      {% if profile.show_email and user.is_authenticated %}
        email : {{ usr.email|obfuscate_mailto }}
      {% endif %}
    </p>
    <p>
      {% if profile.about %}
        <h5>about {{ usr.username }} :</h5>
        {{ profile.about|emarkdown }}
      {% endif %}
    </p>
    <p>
      reads :
      <ul>
        {% for lang in profile.languages.all %}
          <li>{{ lang.name }}</li>
        {% endfor %}
      </ul>
    </p>
  </div>
</div>


{% endblock %}
