{% extends "user/base.html" %}
{% load emarkdown %}
{% load markup %}
{% load email_obfuscator %}

{% block title %}
    {{ usr.username }}
{% endblock %}

{% block headline %}
    {{ usr.username }}
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">{{ usr.username }}</a></li>
{% endblock %}

{% block headline-actions %}
    {% ifequal profile.user user %}
        <a href="{% url "resrc.user.views.settings_profile" %}" class="button">
            Settings
        </a>
    {% endifequal %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-2 columns">
        <img src="{{ profile.get_avatar_url }}" alt="Avatar" width="80" height="80" class="th"/>
    </div>
    <div class="large-10 columns">
        <p>
            {% if profile.show_email and user.is_authenticated %}
                email : {{ usr.email|obfuscate_mailto }}<br />
            {% endif %}

            joined : {{ usr.date_joined }},
            last seen : {{ usr.last_login }}.
        </p>
    </div>
</div>

{# links : {{ profile.get_links }} #}

{# Biography #}

{% if profile.about %}

<div class="row">
    <div class="large-12 columns">
        <h2>about</h2>
        {{ profile.about|emarkdown }}
    </div>
</div>

{% endif %}

{% endblock %}
