{% extends "user/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Register
{% endblock %}

{% block headline %}
    Register
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Register</a></li>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-12 columns">
        {% if not user.is_authenticated %}
            {% if error %}
                {{ error }}
            {% endif %}
            <p>
                <strong>You are about to register a new account.</strong> If you happen to already have an account here, please <a href="{% url "resrc.user.views.login_view" %}">log in</a>.
            </p>
            <p>
                Here is the form :
            </p>
            {% crispy form %}
        {% else %}
            <p>You're already connected.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
