{% extends "user/settings_base.html" %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
<li><a href="{% url "home" %}">Home</a></li>
<li><a href="{% url "user-list" %}">Users</a></li>
<li><a href="{% url "user-url" usr.username %}">{{usr.username}}</a></li>
<li class="current">Profile</li>
{% endblock %}

{% block subnav %}
  <dd class="active"><a href="{% url "user-settings" %}">Public profile</a></dd>
  <dd><a href="{% url "user-account" %}">Change password</a></dd>
{% endblock %}

{% block settings_form %}
<div class="row">
  <div class="large-12 columns">
    {% crispy form %}
  </div>
</div>
{% endblock %}
